*{ /* Asterisk symbol represents all elements */
    margin: 0;  
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #646a72;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px; /* This rounds the corners */
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    /* Two shadows, seperated by commas */
    background: transparent;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none; 
}

form input.equal {
    width: 145px;
    background: rgb(63, 142, 74);
}

form input.ac {
    background: rgb(203, 89, 89);
}

form input.del {
    background: rgb(185, 123, 123);
}

form input.operator {
    color: #99dae3;
}